In [11]:
from usagrid import s3
import pandas as pd
from pathlib import Path

pd.options.display.float_format = '{:20,.2f}'.format

paths = s3.list_files_in_folder("usagrid","landingarea/powerplant")

files = [p for p in paths[:] if Path(p).suffix]

dfs = [s3.read_pyarrow_df_from_s3("usagrid",f).to_pandas() for f in files[:]]

df = pd.concat(dfs)

In [43]:
def set_dtypes(df):
    
    data = df.copy()

    dtypes_dict = {'period':"datetime64[ns]",
    'plantCode':"object",
    'plantName':"object",
    'fuel2002':"object",
    'fuelTypeDescription':"object",
    'state':"object",
    'stateDescription':"object",
    'primeMover':"object",
    'average-heat-content':"float64",
    'average-heat-content-units':"object",
    'consumption-for-eg':"float64",
    'consumption-for-eg-units':"object",
    'consumption-for-eg-btu':"float64",
    'generation':"float64",
    'gross-generation':"float64",
    'total-consumption':"float64",
    'total-consumption-units':"object",
    'total-consumption-btu':"float64",
    'consumption-for-eg-btu-units':"object",
    'generation-units':"object",
    'gross-generation-units':"object",
    'total-consumption-btu-units':"object"
    }

    for k, v in dtypes_dict.items():

        data[k] = data[k].astype(v)

    return data

def filter_out_ALL_fuel(df):

    return df.query('fuel2002 != "ALL"')

def filter_out_ALL_prime_movers(df):

    return df.query('primeMover != "ALL"')


def extract_year(df):

    return df.assign(year=df.period.dt.year)

modified = (
df
.pipe(set_dtypes)
.pipe(extract_year)

)

,period,plantCode,plantName,fuel2002,fuelTypeDescription,state,stateDescription,primeMover,average-heat-content,average-heat-content-units,...,generation,gross-generation,total-consumption,total-consumption-units,total-consumption-btu,consumption-for-eg-btu-units,generation-units,gross-generation-units,total-consumption-btu-units,year
0,2022-01-01,61218,"Broadridge Solar, LLC",ALL,Total,NC,North Carolina,ALL,NaN,None,...,579.24,581.76,NaN,None,"1,976.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
1,2022-01-01,61217,Head of U Canal Hydro Project,WAT,Hydroelectric Conventional,ID,Idaho,HY,0.00,None,...,370.51,376.58,0.00,None,"1,264.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
2,2022-01-01,61217,Head of U Canal Hydro Project,WAT,Hydroelectric Conventional,ID,Idaho,ALL,0.00,None,...,370.51,376.58,0.00,None,"1,264.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
3,2022-01-01,61217,Head of U Canal Hydro Project,ALL,Total,ID,Idaho,ALL,NaN,None,...,370.51,376.58,NaN,None,"1,264.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
4,2022-01-01,61216,Green Beanworks D PV,SUN,Solar,CA,California,PV,0.00,None,...,368.38,369.38,0.00,None,"1,257.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,2023-12-01,55402,Renaissance Power Plant,ALL,Total,MI,Michigan,ALL,NaN,None,...,"36,457.00","37,631.00",NaN,None,"407,872.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2304,2023-12-01,55402,Renaissance Power Plant,NG,Natural Gas,MI,Michigan,ALL,1.05,MMBtu per Mcf,...,"36,457.00","37,631.00","388,820.00",MMBtu per Mcf,"407,872.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2305,2023-12-01,55402,Renaissance Power Plant,NG,Natural Gas,MI,Michigan,GT,1.05,MMBtu per Mcf,...,"36,457.00","37,631.00","388,820.00",MMBtu per Mcf,"407,872.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2306,2023-12-01,55404,Carville Energy LLC,ALL,Total,LA,Louisiana,ALL,NaN,None,...,"187,953.00","192,184.00",NaN,None,"1,548,317.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2307,2023-12-01,55404,Carville Energy LLC,NG,Natural Gas,LA,Louisiana,ALL,1.02,MMBtu per Mcf,...,"187,953.00","192,184.00","1,512,029.00",MMBtu per Mcf,"1,548,317.00",MMBtu,megawatthours,megawatthours,MMBtu,2023

In [16]:
modified

,period,plantCode,plantName,fuel2002,fuelTypeDescription,state,stateDescription,primeMover,average-heat-content,average-heat-content-units,...,generation,gross-generation,total-consumption,total-consumption-units,total-consumption-btu,consumption-for-eg-btu-units,generation-units,gross-generation-units,total-consumption-btu-units,year
0,2022-01-01,61218,"Broadridge Solar, LLC",ALL,Total,NC,North Carolina,ALL,NaN,None,...,579.24,581.76,NaN,None,"1,976.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
1,2022-01-01,61217,Head of U Canal Hydro Project,WAT,Hydroelectric Conventional,ID,Idaho,HY,0.00,None,...,370.51,376.58,0.00,None,"1,264.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
2,2022-01-01,61217,Head of U Canal Hydro Project,WAT,Hydroelectric Conventional,ID,Idaho,ALL,0.00,None,...,370.51,376.58,0.00,None,"1,264.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
3,2022-01-01,61217,Head of U Canal Hydro Project,ALL,Total,ID,Idaho,ALL,NaN,None,...,370.51,376.58,NaN,None,"1,264.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
4,2022-01-01,61216,Green Beanworks D PV,SUN,Solar,CA,California,PV,0.00,None,...,368.38,369.38,0.00,None,"1,257.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,2023-12-01,55402,Renaissance Power Plant,ALL,Total,MI,Michigan,ALL,NaN,None,...,"36,457.00","37,631.00",NaN,None,"407,872.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2304,2023-12-01,55402,Renaissance Power Plant,NG,Natural Gas,MI,Michigan,ALL,1.05,MMBtu per Mcf,...,"36,457.00","37,631.00","388,820.00",MMBtu per Mcf,"407,872.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2305,2023-12-01,55402,Renaissance Power Plant,NG,Natural Gas,MI,Michigan,GT,1.05,MMBtu per Mcf,...,"36,457.00","37,631.00","388,820.00",MMBtu per Mcf,"407,872.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2306,2023-12-01,55404,Carville Energy LLC,ALL,Total,LA,Louisiana,ALL,NaN,None,...,"187,953.00","192,184.00",NaN,None,"1,548,317.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
2307,2023-12-01,55404,Carville Energy LLC,NG,Natural Gas,LA,Louisiana,ALL,1.02,MMBtu per Mcf,...,"187,953.00","192,184.00","1,512,029.00",MMBtu per Mcf,"1,548,317.00",MMBtu,megawatthours,megawatthours,MMBtu,2023

In [17]:
modified.year.value_counts()

year
2023    117049
2022    115259
Name: count, dtype: int64

In [18]:
modified[modified.duplicated(keep=False)]

,period,plantCode,plantName,fuel2002,fuelTypeDescription,state,stateDescription,primeMover,average-heat-content,average-heat-content-units,...,generation,gross-generation,total-consumption,total-consumption-units,total-consumption-btu,consumption-for-eg-btu-units,generation-units,gross-generation-units,total-consumption-btu-units,year
1879,2022-02-01,60266,Cedar Branch,SUN,Solar,NJ,New Jersey,ALL,0.00,None,...,642.66,646.50,0.00,None,"2,193.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
1880,2022-02-01,60266,Cedar Branch,ALL,Total,NJ,New Jersey,ALL,NaN,None,...,642.66,646.50,NaN,None,"2,193.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
1881,2022-02-01,60265,Junction Road,SUN,Solar,NJ,New Jersey,PV,0.00,None,...,457.43,463.78,0.00,None,"1,561.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
1882,2022-02-01,60265,Junction Road,SUN,Solar,NJ,New Jersey,ALL,0.00,None,...,457.43,463.78,0.00,None,"1,561.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
1883,2022-02-01,60265,Junction Road,ALL,Total,NJ,New Jersey,ALL,NaN,None,...,457.43,463.78,NaN,None,"1,561.00",MMBtu,megawatthours,megawatthours,MMBtu,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340,2023-11-01,60552,Hattiesburg Solar Farm,SUN,Solar,MS,Mississippi,ALL,0.00,None,...,"5,023.00","5,023.00",0.00,None,"17,138.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
4341,2023-11-01,60552,Hattiesburg Solar Farm,ALL,Total,MS,Mississippi,ALL,NaN,None,...,"5,023.00","5,023.00",NaN,None,"17,138.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
4342,2023-11-01,60551,Big Level Wind,WND,Wind,PA,Pennsylvania,WT,0.00,None,...,"28,994.00","29,397.00",0.00,None,"98,928.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
4343,2023-11-01,60551,Big Level Wind,WND,Wind,PA,Pennsylvania,ALL,0.00,None,...,"28,994.00","29,397.00",0.00,None,"98,928.00",MMBtu,megawatthours,megawatthours,MMBtu,2023
4344,2023-11-01,60551,Big Level Wind,ALL,Total,PA,Pennsylvania,ALL,NaN,None,...,"28,994.00","29,397.00",NaN,None,"98,928.00",MMBtu,megawatthours,megawatthours,MMBtu,2023

In [19]:
modified.drop_duplicates().groupby("year")[["generation","gross-generation","total-consumption","total-consumption-units","generation-units"]].sum()

,generation,gross-generation,total-consumption,total-consumption-units,generation-units
year,,,,,
2022,"2,938,442,225.71","3,087,586,308.25","7,375,492,002.00",MMBtu per megawatthoursMMBtu per megawatthours...,megawatthoursmegawatthoursmegawatthoursmegawat...
2023,"7,191,228,365.74","7,533,730,907.63","18,727,158,792.00",MMBtu per barrelsMMBtu per McfMMBtu per barrel...,megawatthoursmegawatthoursmegawatthoursmegawat...

In [45]:
modified.groupby("year")[["generation","gross-generation","total-consumption","total-consumption-units","generation-units"]].sum()

,generation,gross-generation,total-consumption,total-consumption-units,generation-units
year,,,,,
2022,"3,222,267,332.36","3,389,362,672.79","7,898,931,325.00",MMBtu per megawatthoursMMBtu per megawatthours...,megawatthoursmegawatthoursmegawatthoursmegawat...
2023,"10,051,300,756.71","10,532,516,165.94","26,204,533,093.00",MMBtu per barrelsMMBtu per McfMMBtu per barrel...,megawatthoursmegawatthoursmegawatthoursmegawat...

In [34]:
stats = ["generation","gross-generation","total-consumption"]

all_group = modified.query('fuel2002 == "ALL"')

detailed_group = modified.query('fuel2002 != "ALL"')

In [35]:
all_sum = all_group.drop(columns="period").groupby(["plantCode","year"])[stats].sum()

all_detailed = detailed_group.drop(columns="period").groupby(["plantCode","year"])[stats].sum()

In [38]:
all_sum

                         generation     gross-generation    total-consumption
plantCode year
1         2022             1,516.77             1,584.64                 0.00
10        2022           493,102.00           533,500.00                 0.00
          2023         1,255,135.00         1,346,623.00                 0.00
100       2022                 9.39                 9.39                 0.00
10003     2022            12,899.71            13,433.00                 0.00
...                             ...                  ...                  ...
997       2023           872,801.00           963,880.00                 0.00
998       2022             5,183.57             5,183.57                 0.00
999       2022             6,728.96             6,728.96                 0.00
99999     2022           376,240.97           390,610.69                 0.00
          2023       572,104,499.41       585,092,398.56                 0.00

[13781 rows x 3 columns]

In [39]:
all_detailed

                         generation     gross-generation    total-consumption
plantCode year
1         2022             3,033.56             3,169.28             4,466.00
10        2022           986,204.06         1,067,000.00        10,565,618.00
          2023         2,496,290.00         2,676,763.00        25,363,350.00
100       2022                18.78                18.78                 0.00
10003     2022            37,198.18            38,736.00           961,911.00
...                             ...                  ...                  ...
997       2023         1,745,601.98         1,927,760.00         1,166,170.00
998       2022            10,367.14            10,367.14                 0.00
999       2022            13,457.92            13,457.92                 0.00
99999     2022         1,141,107.93         1,190,401.14         5,061,243.00
          2023       841,634,038.52       861,532,911.26     4,862,140,430.00

[13817 rows x 3 columns]

In [37]:
all_sum - all_detailed

                         generation     gross-generation    total-consumption
plantCode year
1         2022            -1,516.79            -1,584.64            -4,466.00
10        2022          -493,102.06          -533,500.00       -10,565,618.00
          2023        -1,241,155.00        -1,330,140.00       -25,363,350.00
100       2022                -9.39                -9.39                 0.00
10003     2022           -24,298.47           -25,303.00          -961,911.00
...                             ...                  ...                  ...
997       2023          -872,800.98          -963,880.00        -1,166,170.00
998       2022            -5,183.57            -5,183.57                 0.00
999       2022            -6,728.96            -6,728.96                 0.00
99999     2022          -764,866.96          -799,790.45        -5,061,243.00
          2023      -269,529,539.11      -276,440,512.70    -4,862,140,430.00

[13835 rows x 3 columns]